<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/index.css" rel="stylesheet">
    <link href="../static/css/nav.css" rel="stylesheet">
    <title>TheMather9000</title>
</head>
<body>
    <nav>
        <div class="Home">
            <a class="HomeLink" href="/">Home</a>
        </div>
        <div class="Calculator">
            <a class="CalculatorLink" href="/calculate">Calculator</a>
        </div>
        <div class="Graph">
            <a class="GraphLink" href="/graph">Graph Function</a>
        </div>
        <div class="Solve">
            <a class="SolveLink" href="/solve">Solve Function</a>
        </div>
        <div class="Logo">
            <img src="../static/images/placeholder.png" alt="Logo">
        </div>
    </nav>
    <div class="container">
        <h1>TheMather9000</h1>
        <h2>What is TheMather9000?</h2>
        <p>TheMather9000 is a tool capable of computing simple calculations, graphing and solving 8 different types of functions by extracting the derivative, calculating the root or evaluating the f(x) value of a given x value.</p>
        <h2>The Calculator Function</h2>
        <p>The Calculator Function of TheMather9000 is capable of solving addition, subtraction, multiplication, division, exponentiation and extraction of the square root.</p>
        <h3>How do I use it?</h3>
        <p>It is used just like a regular calculator with some minor quirks! I will get into these now, but first I will list some examples.</p>
        <ul>
            <li>2+2</li>
            <li>2-2</li>
            <li>2*2</li>
            <li>2/2</li>
        </ul>
        <p>These are the regular permissible operations of addition, subtraction, multiplication and division. When it comes to exponentiation or extracting the square root, the unconventional starts!</p>
        <ul>
            <li>2**2</li>
            <li>sqrt(2)</li>
        </ul>
        <p>This syntax should be used although a "^" will also work for exponentiation. Brackets are usable just like always.</p>
        <h2>The Graphing Function</h2>
        <p>The Graphing Function of TheMather9000 is capable of portraying 8 different kinds of functions graphically, these consist of:</p>
        <ul>
            <li>Polynomial Functions!</li>
            <li>Rational Functions!</li>
            <li>Trigonometric Functions!</li>
            <li>Exponential Functions!</li>
            <li>Logarithmic Functions!</li>
            <li>Piecewise Functions!</li>
            <li>Absolute Value Functions!</li>
            <li>Square Root Functions!</li>
        </ul>
        <p>All of these are also solvable with the Solving Function.</p>
        <h3>How do I use it?</h3>
        <p>The first 5 on the list are entered normally with the aforementioned syntax of operations from the Calculator Function section. I will now give examples on how the other functions should be entered:</p>
        <ul>
            <li>Piecewise((x, x > 1), (x**2, x <= 1))</li>
            <li>Abs(x - 3)</li>
            <li>sqrt(x + 4)</li>
        </ul>
        <p>These functions must be entered this way or they will not work.</p>
        <h2>The Solving Function</h2>
        <p>The Solving Function of TheMather9000 is capable of solving all of the aforementioned functions. They should be entered in the same manner.</p>
        <h3>How do I use it?</h3>
        <p>After entering the function and selecting the function type, an operation should be selected. The derivative, roots and evaluation are options. If the evaluation function was chosen, one must also enter a number at which the function should be evaluated.</p>
    </div>
</body>
</html>