<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/index.css" rel="stylesheet">
    <link href="../static/css/nav.css" rel="stylesheet">
    <title>TheMather9000</title>
</head>
<body>
    <nav>
        <div class="Home">
            <a class="HomeLink" href="/">Home</a>
        </div>
        <div class="Calculator">
            <a class="CalculatorLink" href="/calculate">Calculator</a>
        </div>
        <div class="Graph">
            <a class="GraphLink" href="/graph">Graph Function</a>
        </div>
        <div class="Solve">
            <a class="SolveLink" href="/solve">Solve Function</a>
        </div>
        <div class="Logo">
            <img src="../static/images/placeholder.png" alt="Logo">
        </div>
    </nav>
    <div class="container">
        
    </div>
</body>
</html>